body {
    background-position: left top;
    background-size: 100%;
    background-image: url(assets/forest.jpg);
    margin: 0px;
    padding: 0px;
}

#navigation {
    text-align: center;
    background-color: white;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 4rem;
    box-shadow: 0rem 0.2rem 1rem rgba(0, 0, 0, 0.3);
}

ul {
    list-style: none;
}

.Menu-Item {
    display: inline;
    position: relative;
}

.Menu-Link {
    font-family: 'Roboto Light';
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    transition: 0.2s;
    transition-timing-function: ease-in-out;
    padding: 1.5rem;
    padding-top: 4rem;
}

.Menu-Link:visited {
    color: black;
    text-decoration: none;
}

.Menu-Link:hover {
    color: #ffce00;
}

#title {
    font-family: 'Rochester';
    font-size: 15rem;
    text-align: center;
    vertical-align: middle;
    color: white;
}

#email {
    font-family: 'Roboto Slab';
    font-size: 4rem;
    text-decoration: none;
    color: white;
}

.container {
    position: absolute;
    background-color: white;
    width: 100%;
    height: 42rem;
    bottom: 0px;
    left: 0px;
}