body {
    font-family: 'Roboto Slab Light', serif;
    font-size: 2rem;
    text-align: center;
    margin-top: 10rem;
    background-position: left top;
    background-size: cover;
}

#canvas {
    background-color: white;
    margin: auto;
    width: 70%;
}

.Menu-Link {
    color: black;
    text-decoration: none;
    transition: 0.2s;
    transition-timing-function: ease-in-out;
    padding: 8px;
}

.Menu-Link:visited {
    color: black;
    text-decoration: none;

}

.Menu-Link:hover {
    color: #ffce00;
}